<div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-3 bg-light pt-3 pb-3">
        <h1 class="mt-0">Posts</h1>

        <posts-sidebar on-post-sort="$ctrl.onPostSort(sortValue)"
                       sort-value="$ctrl.sortValue"
                       on-post-group="$ctrl.onPostGroup(groupingValue)"
                       grouping-value="$ctrl.groupingValue"></posts-sidebar>
    </div>

    <div class="col-12 col-md-9 col-xl-9 mt-3">

        <posts-ungrouped-view ng-if="!$ctrl.groupingValue"
                              posts="$ctrl.posts"
                              get-author="$ctrl.getAuthor(post)"
                              grouping-value="$ctrl.groupingValue"
                              sort-value="$ctrl.sortValue"></posts-ungrouped-view>

        <posts-grouped-view ng-if="$ctrl.groupingValue"
                            posts="$ctrl.posts"
                            users="$ctrl.users"
                            get-author="$ctrl.getAuthor(post)"
                            grouping-value="$ctrl.groupingValue"
                            sort-value="$ctrl.sortValue"></posts-grouped-view>

    </div>

</div>